body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d1317;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MK
{
  margin-left: 20px;
  border-radius: 10px;
  background-image: linear-gradient(red,yellow);
}
.CA
{
  border: 4px solid black;
  width:25%;
  border-radius: 20px;
  box-shadow: 10px 10px 40px white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.in{
  border-radius: 10px;
}
h2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  background-color: blanchedalmond;
}













































